<!DOCTYPE HTML>
<html>
  <head>
   <title>管理员管理报名表</title> 
   <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
   <link href="../static/css/application.css" rel="stylesheet" type="text/css">
  </head>
   <body>
    <div id="all">
      <div id="top">
        <img id="logo" src="../static/img/logo2.jpg">
        <span id="logo_name"></span>
      </div>
      <div id="bottom">
        <img src="../static/img/纪念碑谷4.jpg" style="width:350px;height:550px;position: relative;left: 50px;display: inline-block;">
          <div id="two_btn">
            <input type="button" value="查看报名表" id="show_all">
            <input type="button" value="选择查询">
          </div>
          <div id="show_inf">
           <div style="width: 160px;height: 500px;float: left;">
             <label id="name_follow">姓名</label>
           </div>
           <div style="width: 160px;height: 500px;float: left;">
             <label id="id_follow">面试ID</label>
           </div>
           <div style="width: 160px;height: 500px;float: left;">
             <label id="interviewState_follow">面试状态</label>
             </select>
           </div>
           <div style="width: 160px;height: 500px;float: left;">
             <label id="bigWordState_follow">考核作业</label>
           </div>
           <div style="width: 160px;height: 500px;float: left;">
             <label id="finalState_follow">录取结果</label>
           </div>
          </div>
      </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/application.js"></script>
   </body>
</html>