<!DOCTYPE HTML>
<html>
  <head>
   <title>管理员管理报名表</title> 
   <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
   <link href="../static/css/application.css" rel="stylesheet" type="text/css">
  </head>
   <body>
    <div id="all">
      <div id="top">
        <img id="logo" src="../static/img/logo2.jpg">
        <span id="logo_name"></span>
      </div>
      <div id="bottom">
          <div id="left-search">
            <div>姓名:<input type="text" id="name_search"></div>
            <div>学号:<input type="text" id="number_search"></div>
            <div>学院:<input type="text" id="college_search"></div>
            <div>班级:<input type="text" id="classroom_search"></div>
            <div>面试id:<input type="text" id="id_search"></div>
            <div>专业:<input type="text" id="major_search"></div>
            <div>志愿部门:
            <select id="department_search">
            <option value=""></option>
            <option value="硬件技术部">硬件技术部</option>
            <option value="服务技术部">服务技术部</option>
            <option value="算法应用部">算法应用部</option>
            <option value="前端开发部">前端开发部</option>
            <option value="移动开发部">移动开发部</option>
            <option value="应用策划部">应用策划部</option>
            <option value="游戏程序部">游戏程序部</option>
            <option value="游戏策划部">游戏策划部</option>
            <option value="游戏美术部">游戏美术部</option>
            <option value="财务部">财务部</option>
            </select></div>
            <div>是否为大佬:
            <select id="isdalao_search">
            <option value=""></option>
            <option value="1">是</option>
            <option value="0">否</option>
            </select></div>
            <div>面试状态/考核作业:
            <select id="stageState_search">
            <option value=""></option>
            <option value="0">待审核/待审核</option>
            <option value="1">已通过/待审核</option>
            <option value="2">已通过/已通过</option>
            <option value="3">未通过/待审核</option>
            <option value="4">已通过/未通过</option>
            </select></div>
            <div>
              <input type="button" value="查询" id="search_2">
            </div>
               
          </div>
          <div id="left-pic">
            <img src="../static/img/纪念碑谷4.jpg" style="width: 100%;height: 100%;">
          </div>
          <div id="two_btn">
            <input type="button" value="查看报名表" id="show_all">
            <input type="button" value="选择查询" id="search">
            <input type="button" value="保存修改" id="save_all">
          </div>
          <div id="show_inf">
           <div style="width: 160px;height: 500px;float: left;" class="divs">
             <label id="name_follow">姓名</label>
           </div>
           <div style="width: 160px;height: 500px;float: left;" class="divs">
             <label id="id_follow">面试ID</label>
           </div>
           <div style="width: 250px;height: 500px;float: left;" id="div3">
             <label id="state_follow">面试状态/考核作业</label>
           </div>
           <div style="width: 160px;height: 500px;float: left;" class="divs">
             <label id="finalState_follow">录取结果</label>
           </div>
          </div>
      </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/application.js"></script>
    </div>
   </body>
</html>