<!DOCTYPE HTML>
<html>
  <head>
   <title>Notice</title> 
   <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
   <link href="../static/css/notice.css" rel="stylesheet" type="text/css">
  </head>
   <body>
    <div id="all">
      <div id="top">
        <img id="logo" src="../static/img/logo3.png">
        <h1 id="title"></h1>
        <span id="data"></span>
      </div>
      <div id="middle">
        &nbsp;&nbsp;&nbsp;&nbsp;<span id="context">
        </span>
      </div>
      <div id="bottom" style="display: none;">
         管理员在此处填写修改后的通知主体....
         <textarea rows="10" cols="120" id="context_revise">
         </textarea>
         <input type="button" value="提交更改" id="notice_revise" style="width: 125px;height: 50px;cursor: pointer;">
      </div> 
    </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
   </body>
</html>